{% extends 'portfolio/base.html' %}
{% load static %}
{% block title %}Home page{% endblock %}
{% block content %}

        <img src="{% static 'portfolio/smiley-png-5a3a2715aa1176.0900633615137605336966.jpg' %}">
        <h1>SLCKDM's portfolio</h1>
        {% for project in projects %}
            <img src="{{ project.image.url }}" height="10%" width="10%">
            <h3> {{ project.title }} </h3>
            <h3> {{ project.description }} </h3>
            {% if project.url %}
                <a href="{{project.url}}">Link</a>
            {% endif %}
        {% endfor %}
{% endblock %}